body {
  margin: 0;
  background: #0b1a2f;
  font-family: Arial;
  color: white;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: linear-gradient(145deg, #12264a, #0b1a2f);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  background: #2979ff;
  color: white;
  border: none;
  border-radius: 10px;
}

.back {
  margin-bottom: 10px;
}

.badge {
  padding: 5px 10px;
  border-radius: 10px;
}

.badge.HIGH { background: red; }
.badge.MEDIUM { background: orange; }
.badge.LOW { background: green; }